@model Thesis_BIM_Website.Models.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BIM</h1>
    <p>Never forget your payments again, sign in or create an account below</p>
    <br />
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <table>
            <tr>
                <td></td>
                <td>Login</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Username)
                </td>
                <td>
                    @Html.EditorFor(model => model.Username)
                </td>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Username)</td>
            </tr>
            <tr></tr>
            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>
                    @Html.EditorFor(model => model.Password)
                </td>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Username)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" class="btn btn-primary" />
                    <a href='@Url.Action("Register", "Account")'>
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </a>
                </td>
            </tr>
        </table>
    }
</div>