@model IEnumerable<Thesis_BIM_Website.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p style="color: antiquewhite">
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color: antiquewhite">
    <thead>
        <tr>
            <th>
                Company
            </th>
            <th>
                Amount
            </th>
            <th>
               Bankaccount number
            </th>
            <th>
                OCR Number
            </th>
            <th>
                Paydate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToPay) SEK
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paydate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
